
<h1>
  What the hell is Ritter?
</h1>

<p>
  <%= link_to "Ritter", root_path %> is a <%= link_to "Twitter", "https://twitter.com" %> clone on <%= link_to "Rails", "http://rubyonrails.org/" %>. Also, <%= link_to "a method to calculate internal forces", "https://www.youtube.com/watch?v=2uSQPm3_4mY" %>. Have fun. Your mother is a whore.
</p>
