<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user_path(user) %>
  <!--
    "current_user.try(:admin)" is equal to "current_user && current_user.admin?"
    -->
  <% if current_user.try(:admin?) && current_user != user %>
    | <%= link_to 'delete', user, method: :delete,
                               data: { confirm: 'Are you sure?' },
                               id: "delete_user_#{user.id}" %>
  <% end %>
</li>
