
<footer class="footer">
  <small>
    Shout out to 
    <a href="http://www.michaelhartl.com/">Michael Hartl</a>
    for his
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  </small>
</footer>